body {
  background: #ababab !important;
}

.filterIcon {
  background-repeat: no-repeat;
  display: inline-block;
  border: 1px solid transparent;
  background-size: 1210%;
}
.filterIcon.selected {
  border: 1px solid red;
}
.centerIcon.filterIcon, .selectedExampleIcon.filterIcon {
  width: 25px;
  height: 25px;
  zoom: 4;
}
.concepts .filterIcon {
  width: 25px;
  height: 25px;
}
.topMatches .filterIcon {
  width: 25px;
  height: 25px;
}

/* Apply this to your `table` element. */
table {
   border-collapse: collapse;
}

/* And this to your table's `td` elements. */
table td {
   padding: 0 1px;
   margin: 0;
}

.topMatches button {
  margin: 0;
  padding: 0;
}

.neurons button {
  margin: 0;
  padding: 0;
  height: 40px;
}

button {
  outline: none;
}

img {
  width: 100%;
}

.largeIcons {
  padding: 10px;
}

.largeIcons .centerIcon {
  border: 1px solid #0000ff;
}

.largeIcons .selectedExampleIcon {
  border: 1px solid #ff0000;
}
