body {
  background: #ababab !important;
}

.filterIcon {
  background-repeat: no-repeat;
  display: inline-block;
  border: 2px solid transparent;
  background-size: 1230%;
  width: 37px;
  height: 37px;
}
.filterIcon.selected {
  border-color: blue;
}
.topMatches .filterIcon.selected {
  border-color: red;
}
.centerIcon.filterIcon, .selectedExampleIcon.filterIcon {
  zoom: 4;
}

/* Apply this to your `table` element. */
table {
   border-collapse: collapse;
}

/* And this to your table's `td` elements. */
table td {
   padding: 0 1px;
   margin: 0;
}

.topMatches button {
  margin: 0;
  padding: 0;
}

.neurons button {
  margin: 0;
  padding: 0;
  height: 40px;
}

button {
  outline: none;
}

img {
  width: 100%;
}

.largeIcons {
  padding: 10px;
}

.largeIcons .centerIcon {
  border-color: blue;
}

.largeIcons .selectedExampleIcon {
  border-color: red;
}
